stages:
  - build
  - test
  - docker
  - deploy

# include private configs for the remaining stages
include:
  - project: "it/ci-config"
    file: "/testnet/deploy_webapp.yml"

variables:
  # nginx configuration for this webapp
  NGINX_CONFIG: |
    server {
        listen       80;
        listen  [::]:80;
        server_name  localhost;

        location / {
          root   /usr/share/nginx/html;
          index  index.html index.htm;
          try_files $$uri $$uri/ /index.html;
        }
    }

build:
  stage: build
  image: node:12
  artifacts:
    paths:
      - dist/
  cache:
    key: node-cache
    paths:
      - node_modules/
  script:
    - yarn install
    - build=testnet yarn build
    # Make sure the dist directory exists, so that _this_ job fails and not the next one
    - test -d dist || (echo "No dist directory\!" && exit 1)
    - test -f dist/index.html || (echo "No files in dist\!" && exit 1)
  allow_failure: false

test:
  stage: test
  image: node:12
  cache:
    key: node-cache
    paths:
      - node_modules/
  script:
    - yarn lint
    - yarn test
  allow_failure: true

